@font-face {
  font-family: marvel;
  src: url(assets/fonts/Marvel.ttf);
}

@font-face {
  font-family: marvelReg;
  src: url(assets/fonts/Marvel-Regular.ttf);
}

@font-face {
  font-family: marvelBold;
  src: url(assets/fonts/Marvel-Bold.ttf);
}

ol,
li {
  font-family: marvelBold;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

button {
  font-family: marvelBold;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 10px;
}
